# Hardhat files
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json

# Environment variables
.env

# Dependencies
node_modules/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
